<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>实验管理系统</title>
    <link rel="stylesheet" href="__PUBLIC__/style/layui/css/layui.css">
    <link rel="stylesheet" href="__PUBLIC__/style/css/base.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    {include file="common/header" /}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <h2>请填写您的预约信息</h2>
        {if condition="$reper neq 0"}
        <form class="layui-form layui-container" action="#" method="post" lay-filter="form">
        {/if}
        {if condition="$reper eq 0"}
        <form class="layui-form layui-container" action="{:url('Reservations/rechange')}" method="post" lay-filter="test2">
        {/if}
            {if condition="$reper neq 0"}
            <input type="hidden" name="Lab_ID" value="{$gets.Lab_ID}">
            <input type="hidden" name="day" value="{$gets.day}">
            <input type="hidden" name="period" value="{$gets.period}">
            <input type="hidden" name="week" value="{$gets.week}">
            {/if}

            {if condition="$reper eq 0"}
            <input type="hidden" name="experid" value="{$eid}">
            {/if}
            <div class="layui-row">
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">课程名称</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="class_name" required  lay-verify="required" placeholder="请输入课程名称(课程编号)" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="class_name" required  lay-verify="required" placeholder="请输入课程名称(课程编号)" autocomplete="off" class="layui-input" value="{$experinfo['exp_name']}">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">指导老师</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="teacher" required  lay-verify="required" placeholder="请输入指导老师" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="teacher" required  lay-verify="required" placeholder="请输入指导老师" autocomplete="off" class="layui-input" value="{$experinfo['exp_zdt']}">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">教研室</label>
                        <div class="layui-input-block">
                            <select name="office" lay-verify="required">
                                <option value="0"></option>
                                {if condition="$reper neq 0"}
                                {volist name="jys" id="vo_jys"}
                                <option value="{$vo_jys['id']}">{$vo_jys['jys_name']}</option>
                                {/volist}
                                {/if}
                                {if condition="$reper eq 0"}
                                {volist name="jys" id="vo_jys"}
                                <option value="{$vo_jys['id']}" {if condition="$vo_jys['id'] eq $experinfo['exp_jys']" } selected="selected" {/if}>{$vo_jys['jys_name']}</option>
                                {/volist}
                                {/if}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">设备类型</label>
                        <div class="layui-input-block">
                            <select name="equip_name" lay-verify="required">
                                <option value="0"></option>
                                {if condition="$reper neq 0"}
                                {volist name="equip" id="vo_equip"}
                                <option value="{$vo_equip['id']}">{$vo_equip['equip_name']}（类型剩余：{$vo_equip['remain_num']}）</option>
                                {/volist}
                                {/if}
                                {if condition="$reper eq 0"}
                                {volist name="equip" id="vo_equip"}
                                <option value="{$vo_equip['id']}" {if condition="$vo_equip['id'] eq $experinfo['equip_id']" } selected="selected" {/if}>{$vo_equip['equip_name']}（类型剩余：{$vo_equip['remain_num']}）</option>
                                {/volist}
                                {/if}
                            </select>
                        </div>
                    </div>
                </div>

                <!--<div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">实验学时</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="classes" required  lay-verify="required" placeholder="请输入实验学时" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="classes" required  lay-verify="required" placeholder="请输入实验学时" autocomplete="off" class="layui-input" value="{$experinfo['exp_xs']}">
                            {/if}
                        </div>
                    </div>
                </div>-->
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">实验人数</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="sum_peo" required  lay-verify="required" placeholder="请输入实验人数" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="sum_peo" required  lay-verify="required" placeholder="请输入实验人数" autocomplete="off" class="layui-input" value="{$experinfo['exp_snum']}">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">每组人数</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="group_peo" required  lay-verify="required" placeholder="请输入每组人数" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="group_peo" required  lay-verify="required" placeholder="请输入每组人数" autocomplete="off" class="layui-input" value="{$experinfo['exp_pnum']}">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">循环人数</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="cycle_peo" required  lay-verify="required" placeholder="请输入循环人数" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="cycle_peo" required  lay-verify="required" placeholder="请输入循环人数" autocomplete="off" class="layui-input" value="{$experinfo['exp_cycle']}">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">实验类型</label>
                        <div class="layui-input-block">
                            <select name="type" lay-verify="required">
                                <option value="0"></option>
                                {if condition="$reper neq 0"}
                                {volist name="type" id="vo_type"}
                                <option value="{$vo_type['id']}">{$vo_type['type_name']}</option>
                                {/volist}
                                {/if}
                                {if condition="$reper eq 0"}
                                {volist name="type" id="vo_type"}
                                <option value="{$vo_type['id']}" {if condition="$vo_type['id'] eq $experinfo['exp_type']" } selected="selected" {/if}>{$vo_type['type_name']}</option>
                                {/volist}
                                {/if}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-lg3 layui-col-md4 layui-col-sm6">
                    <div class="layui-form-item">
                        <label class="layui-form-label">专业班级</label>
                        <div class="layui-input-block">
                            {if condition="$reper neq 0"}
                            <input type="text" name="major_class" required  lay-verify="required" placeholder="请输入专业班级" autocomplete="off" class="layui-input">
                            {/if}
                            {if condition="$reper eq 0"}
                            <input type="text" name="major_class" required  lay-verify="required" placeholder="请输入专业班级" autocomplete="off" class="layui-input" value="{$experinfo['exp_class']}">
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        {if condition="$reper neq 0"}
                        <textarea name="desc" placeholder="请输入内容（实验名称）" class="layui-textarea"></textarea>
                        {/if}
                        {if condition="$reper eq 0"}
                        <textarea name="desc" placeholder="请输入内容（实验名称）" class="layui-textarea">{$experinfo['exp_bz']}</textarea>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="form_btn">立即提交</button>
                    {if condition="$reper neq 0"}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    {/if}
                </div>
            </div>
        </form>
    </div>

    {include file="common/footer" /}
</div>
<script src="__PUBLIC__/style/layui/layui.js"></script>

<script>
    layui.use(['element','form'], function() {
        var element = layui.element,
            form = layui.form;
    })
</script>
<script src="__PUBLIC__/style/js/base.js"></script>
<script src="__PUBLIC__/style/js/form.js"></script>
</body>
</html>